.DS_STORE
bundling/.vs*
bundling/figures
bundling/microbench/data*
bundling/!microbench/data_structures.h
bundling/microbench/results
bundling/microbench/graphs
bundling/microbench/*.out
bundling/microbench/warnings.txt
bundling/microbench/plot_config.py
bundling/microbench/results*
bundling/microbench/figs
bundling/microbench/experiment_list.txt*
bundling/microbench/__pycache__
bundling/microbench/data/summary.txt
bundling/microbench/leakcheck*
bundling/macrobench/bin/*
bundling/macrobench/data*
bundling/*.csv
bundling/__pycache__*
bundling/macrobench/compiling*
bundling/log
bundling/executables
vcaslib/.vs*
vcaslib/*.csv
vcaslib/artifact/cpp/.vs*
vcaslib/artifact/cpp/log/
vcaslib/artifact/cpp/bst_executables/
vcaslib/artifact/cpp/microbench/*.out
vcaslib/artifact/cpp/microbench/results
vcaslib/artifact/cpp/microbench/graphs
vcaslib/artifact/cpp/microbench/data*
vcaslib/artifact/cpp/microbench/__pycache__
vcaslib/artifact/cpp/microbench/bin/*
vcaslib/artifact/cpp/microbench/warnings.txt
vcaslib/artifact/cpp/microbench/plot_config.py
vcaslib/artifact/cpp/microbench/results*
vcaslib/artifact/cpp/microbench/figs